/* TRY USING EM FOR FONTS
Ancor em to the width of the parent. (body)
Example  https://thestory.church/ */



body{
    width: 60em;
    height: 100em;
    background: gray;
    margin: auto;
    font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col"] {
      width: 100%;
    }
  }

#dice_roller
{
    max-width: 60%;
    /* height: 100vh; */
    /* margin: 2vh 20vw; */
    background-color: blanchedalmond;
    padding: .8em;
} 

#outputWindow
{
    height:15vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 4px grey solid;
    border-radius: 30px;
    background-color: blanchedalmond;
    font-size: 6em;

}

.dice
{
    display: flex;
    justify-content: space-between;
    height:4em;
    justify-content: center;
    background-color: blanchedalmond;
    border: 4px grey solid;
    border-radius: 30px;
    margin: 3vh;
}

.dice_button
{
    border-radius: 30vw;
    align-self: center;
    font-size: 1em;
}

#placeholder
{

    
}

/* #outputWindow
{
    border: 3px goldenrod solid;
    max-width: 100%;
} */

/* #diceButCont1
{
    flex:1;
} */

/* #diceButCont2
{
    flex:1;
} */

/* #diceButCont3
{
    flex:1;
} */

/* #customDiceCont
{
    flex:1;
    width: 100%
} */

/* .dice_button
{
    align-self: center;
    font-size: 2vw
} */


/* .dice 
{   
    display: flex;
    height: 30vh;
    width: 26vw;
    padding: ;
    box-sizing: border-box;
    border: 3px goldenrod solid;
    border-radius: 15%;
    justify-content: center;
    flex: 1;
  } */