/* body
{
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 20vh;
} */

#dice_roller
{
    max-width: 60%;
} 

#outputWindow
{
    height:15vw;
    border: 4px grey solid;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 30px;
}

.dice
{
    display: flex;
    justify-content: space-between;
    height:10vw;
    justify-content: center;
    border: 4px grey solid;
    border-radius: 30px;
    margin: 2vw;
}

.dice_button
{
    border-radius: 30vw;
    align-self: center;
    font-size: 2vw;
}

#placeholder
{

    font-size: 8em;
}

/* #outputWindow
{
    border: 3px goldenrod solid;
    max-width: 100%;
} */

/* #diceButCont1
{
    flex:1;
} */

/* #diceButCont2
{
    flex:1;
} */

/* #diceButCont3
{
    flex:1;
} */

/* #customDiceCont
{
    flex:1;
    width: 100%
} */

/* .dice_button
{
    align-self: center;
    font-size: 2vw
} */


/* .dice 
{   
    display: flex;
    height: 30vh;
    width: 26vw;
    padding: ;
    box-sizing: border-box;
    border: 3px goldenrod solid;
    border-radius: 15%;
    justify-content: center;
    flex: 1;
  } */